streamlit==1.32.0
langchain==0.2.16
langchain-core==0.2.41
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-huggingface==0.0.3
langchain-mistralai==0.1.8
chromadb==0.5.3
sentence-transformers==2.7.0
pypdf==4.2.0
python-dotenv==1.0.1
faiss-cpu==1.13.2
